<div class="about">
  <p>My name is <span style="color:#A400EC;font-weight:900">Adelaide Tovar</span>. I am an NRSA T32 postdoctoral fellow in the Department of Computational Medicine & Bioinformatics at the University of Michigan. I work in the labs of Steve Parker and Jacob Kitzman where I use functional genomics and statistical genetics to discover gene regulatory grammars and their relationship to complex disease. Previously, I completed my PhD in Genetics & Molecular Biology at The University of North Carolina at Chapel Hill in the lab of Samir Kelada.
<br><br>
  I am a 2022-2025 Wellcome Burroughs Fund Postdoctoral Diversity Enrichment Program Fellow, a 2022-2024 ASHG Human Genetics Scholar, and a recent recipient of an NIDDK REACH Loan Repayment Program award.</p>
</div>